.footer {
  background: #1d1d1e;
  padding: 3.5rem 5rem 1.5rem;
  color: #ffffff;
}

.footer-ctn {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 90%;
}

.footer-ctn img {
  width: 233px;
  height: 40px;
  margin: 0 150px 50px 0;
}

.socials {
  position: absolute;
  bottom: 10px;
  display: flex;
}

.socials img {
  width: 18px;
  height: 18px;
  margin-right: 32px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.footer-menu h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 23px;
}

.footer-menu ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #f1f3f9;
  margin-bottom: 16px;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  color: #f7f7f7;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 2.5rem 3rem;
  }

  .footer-ctn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* gap: 4rem; */
    align-items: flex-start;
    padding: 20px 0;
    margin-bottom: 0px;
  }

  .footer-ctn img {
    width: 233px;
    height: 40px;
  }

  .socials {
    position: absolute;
    bottom: -35px;
    display: flex;
  }

  .socials img {
    width: 18px;
    height: 18px;
    margin-right: 32px;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem 0 0;
  }

  .footer-menu div {
    margin-right: 40px;
    margin-bottom: 16px;
  }

  .footer-menu h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
  }

  .footer-menu ul li {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #f1f3f9;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 1.5rem 1rem;
  }
}